{% extends "base.html" %}

{% block content %}
    <h1>Bienvenido a Virtual Parking</h1>
    <p>Esta es la página de inicio del sitio web.</p>
    <h2>Instrucciones para realizar un depósito</h2>
    <h2>Instrucciones para realizar un depósito</h2>
    <ul>
        {% for paso in pasos %}
            <li>{{ paso }}</li>
        {% endfor %}
    </ul>
    
    


    {% if usuario %}
        <a href="{% url 'saldo' %}" class="btn-saldo">Ver saldo</a>
    {% else %}
        <a href="{% url 'login' %}" class="btn-saldo">Iniciar sesión</a>
    {% endif %}


    <style>
        .btn-saldo {
            display: inline-block;
            padding: 10px 20px;
            margin-top: 20px;
            background-color: #545ff3;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }
        .btn-saldo:hover {
            background-color: #3b4cc0;
        }
    </style>
{% endblock %}